<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <app-git-forms></app-git-forms>
    </div>
    <div class="col-md-7">
      <div class="well" id="display">
          <img src={{dev.image}} alt="Profile picture">
          <br>
          <h1>{{dev.name}}</h1>
      </div>
      <div>
        <h3>{{dev.name}}</h3><br>
        <br>
        <br>
        <br>
        <h4>bio: {{dev.bio}}</h4>
        <br>
        <br>
        <br>
        <h4>Repositories: {{dev.repos}}</h4>
        <br>
        <br>
        <br>
        <h4>Followers: {{dev.followers}}</h4>
        <br>
        <br>
        <br>
        <h4>Following: {{dev.following}}</h4>
        <br>
        <br>
        <br>
        <!-- <h4><a [href]="githubData.html_url">Go to page:</a></h4> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>
</div>
